{% extends 'core/base.html' %}
{% block page_title %}Cadastro de tarefas{% endblock %}
{% block body %}
{% block title %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Aplicativo de tarefas
				</h2>
				<p>
					Esta aplicação permite que sejam criadas tarefas, bem como realizar sua edição e remoção.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="{% url 'tasks:list-tasks' %}">Ir para Tarefas</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% endblock %}