{% extends 'core/base.html' %}
{% block page_title %}Cadastro de tarefas - Adicionar{% endblock %}
{% block body %}
<div class="container-fluid">
    {% block title %}<h2>Cadastrar tarefa</h2>{% endblock %}
	<div class="row">
		<div class="col-md-12 form-group">
			<form action="." method="post">
			{% csrf_token %}
            {% for field in form %}
                <div class="form-group fieldWrapper">
                {{field.label_tag}}
                {% if 'Ativo' not in field.label_tag %}
                    </br>
                {% endif %}
                {{field}}
                </br>
                </div>
            {% endfor %}
                <input type="submit" value="Submit">
            </form>
		</div>
	</div>
</div>

{% endblock body %}
{% block back_button %}<a href="{% url 'tasks:list-tasks' %}">&#9194</a>{% endblock %}
